# Python & Bytecode
__pycache__/
*.pyc
.DS_Store

# Jupyter
.ipynb_checkpoints/

# MLflow (CRUCIAL)
mlruns/
mlflow.db

# Environnements virtuels
env/
venv/
.venv/

# Données volumineuses (Optionnel)
# data/*.csv